.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
Hogan_Figures.nb.html
Hogan_CKMRSIM.nb.html
Hogan_parentage_figures.nb.html
GitHub-PWS-Pink-Parentage.Rproj
Hogan_parentage.nb.html
Hogan_Even_Runs_Comparison.nb.html
hogan_LD.txt
Hogan_14_16_298.nb.html
Hogan_CKMRSIM.nb.html
Hogan_CKMRSIM_298.nb.html
Hogan_Figures_298.nb.html