.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
Hogan_Figures.nb.html
Hogan_CKMRSIM.nb.html
Hogan_parentage_figures.nb.html
GitHub-PWS-Pink-Parentage.Rproj
Hogan_parentage.nb.html
Hogan_Even_Runs_Comparison.nb.html
hogan_LD.txt
Hogan_14_16_298.nb.html
Hogan_CKMRSIM.nb.html
Hogan_CKMRSIM_298.nb.html
Hogan_Figures_298.nb.html
Hogan/Hogan Results for Science Panel.nb.html
Stockdale/Stockdale_Science_Panel.nb.html
Stockdale/Stockdale_Parentage_13_16.nb.html
Hogan/Hogan_Science_Panel.nb.html
Hogan/Hogan_Sample_Locations.nb.html
*.docx
*.xlsx
Stockdale/Stockdale_Sample_Sizes.nb.html
Stockdale/Stockdale_Figures_298.nb.html
Stockdale/Stockdale_Sample_Locations.nb.html
CalculateStreamDistance_riverdist.nb.html
Stockdale/Stockdale_Sample_Questions_Revisited.nb.html
*Franz/
*.gif
Stockdale/Stockdale_Colony_Input.nb.html
*.nb.html
Thumbs.db
