.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.csv
GitHub-PWS-Pink-Parentage.Rproj
hogan_LD.txt
*.docx
*.xlsx
*Franz/
*.gif
*.nb.html
Thumbs.db
*.png
!*/GOD/output/PGOD21_48DWP_paired.csv
/GOD/objects/Pooled_PWS.rds
/GOD/objects/Simulation_Sillys.txt